

.navbar{
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    background-color:#236;
    width: 18%;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

.figures{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.circle, .square, .polygon{
    width: 200px;
    height: 200px;
    background-color: #236;
    margin: 10px;  
}

.circle{
    border-radius: 50%;
}

.triangle{
    width: 0px;
    height: 0px;
   /* border-top: 100px solid #345; */
   border-bottom: 200px solid #236;
   border-left: 100px solid  transparent;
   border-right: 100px solid  transparent;
   margin: 10px;
}

.fig1{
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.fig2{
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.fig3{
    clip-path: polygon(33% 0%, 66% 0%, 100% 33%, 100% 66%, 66% 100%, 33% 100%, 0% 50%);
}
.fig4{
    clip-path: polygon(33% 0%, 66% 0%, 100% 33%, 100% 66%, 66% 100%, 33% 100%, 0% 66%, 0% 33%);
}
.fig5{
    clip-path: polygon(50% 0%, 0% 38%, 82% 100%, 18% 100%, 100% 38%);
}
.fig6{
    clip-path: polygon(25% 0%, 75% 0%, 0% 50%, 75% 100%, 25% 100%, 100% 50%);
}
.fig7{
    clip-path: polygon(50% 80%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

@keyframes rotat{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.figures> div{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    text-align: center;
    line-height: 180px;
    animation: rotat 5s infinite alternate;
    
}

@keyframes anime{
    from{ background-color: #fff;}
    to { background-color: #557;}
}



body{
    animation-name: anime;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}